body{
    background-image: url(./../images/ressource.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.tete h1{
    text-transform: uppercase;
    font-size: xxx-large;
    font-family: fangsong;
    color: #ffeab6;
}
 .tete h1::first-letter{
    width: 200px;
    font-size: 200px;
}  main{
    letter-spacing: 0.05em;
    text-align: -webkit-center;
    margin-bottom: 120px;
    margin-top: 20px;
}
main a{
    color: white;
    text-decoration: none;
    font-size: x-large;
} 
main a:hover{
    color:black; 
    
    border: 4px unset #ffeab6;
    background-color: #ffeab6;
    border-radius: 20px;
    padding: 10px;
}